@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* changed */
section {
  padding: 50px 0;
}

/* removed */
/* section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
} */

/* whole footer background color */
#footer {
  background: black;
}

/* subheading */
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #e67e22;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #e67e22;
}

/* links */
#footer a {
  color: white;
  text-decoration: none;
}

/* list item under social media div */
#footer ul.social li {
  padding: 3px 0;
}

/* icon under social media div */
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  transition: 0.5s all ease;
  color: #e67e22;
  
}

/* when hover the icons under social media div */
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

/* text links under social medica div */
#footer ul.social li a {
  color: #e67e22;
}

/* same color when hover  */
#footer ul.social li a:hover {
  color: #ffffff;
}

/* links under quicklinks div */
#footer ul.quick-links li a {
  color: #ffffff;
}

/* quick list items */
#footer ul.quick-links li {
    padding: 3px 0;  
  transition: 0.5s all ease;
}

/* when hover list items with the icon */
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 600;
}

/* quick links list links */
#footer ul.quick-links li a i {
  margin-right: 5px;
}

/* when hover quick links */
#footer ul.quick-links li:hover a i {
  font-weight: 600;
}

button {
  background-color: #e67e22;;
}

/* heading style changes with viewpoint size change */
@media (max-width: 767px) {
  #footer h5 {
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-left: transparent;
  

}}

p {
  font-size: 15px;
}


/* to delete */
/* h2 {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background: #7c8490;
} */